:root {
    --dark-grey: #212121;
    --light-grey: #757575;
    --hover-blue: #2196F3;
    --hero-button-hover: #188CE8;
    --hero-h1-white: #FFFFFF;
    --hero-background: #2F303A;
    --team-background: #F5F4FA;
    --footer-contakts: rgba(255, 255, 255, 0.6);
    --header-line: #ECECEC;
    --portfolio-content-border: #EEEEEE;
    --border-grey: #AFB1B8;
}

$BodyFont: 'Roboto';
$Sans-Serif: sans-serif;
$LogoFont: 'Raleway';
