/*Стилі логотипу*/
.logo {
    font-family: $LogoFont, $Sans-Serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: inherit;

    margin-right: 93px;

    &__accent {
        color: var(--hover-blue);
    }
}

